<!DOCTYPE html>
<html lang="en" ng-app='spaceApp'>
<head>
    <title>Inventory</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css" />
</head>
<body>
	<div align="center" ng-style="{ 'position': 'absolute','top': '20%','left': '50%','transform': 'translateX(-50%) translateY(-50%)'}">
		<img ng-src="img/HomeScreen/notselectedCoub.png" ng-click="clickMouseHome()" width="120" height="120" >
		<img ng-src="img/HomeScreen/notselectedCoub.png" ng-click="clickMouseMeeting()" width="120" height="120" >
		<img ng-src="img/HomeScreen/selectedCoub.png" width="120" height="120" >
	</div>
</body>
</html>
